@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    animation: light-to-dark 0.3s ease-in-out;
    background-repeat: no-repeat;


}



.mode#corpo {
    background-color: #01050c;
    animation: dark-to-light 0.3s ease-in-out;
}

#darkmode {
    font-size: 15pt;
    color: #dab714;
    cursor: pointer;
}

.mode#corpo nav {
    background-color:
        #00010279;
    box-shadow: none;
}

.mode#corpo nav a {
    color: #fff
}

.mode#corpo .btnnn {
    background-color: rgb(0, 193, 106);
    color: #fff;

}

.mode#corpo .btnnnP {
    color: #fff;
    border: 1px solid #fff;

}

.mode#corpo i {
    color: #fff;

}

.mode#corpo .btnsSocial a {
    background-color: #083131;
}

.mode#corpo .title {
    color: #fff;
}

.mode#corpo .descricao {
    color: #fff;
}


nav {
    width: 100%;
    background-color: #fff;
    padding: 23px 10%;

    box-shadow: 5px 5px 5px 1px #0e0e0e20;
}

span {
    font-weight: 600;
    color: #118a8a;

}

section {
    margin-top: -1px;
    padding-top: 100px;
}

#logo {
    height: 45px;
    width: auto;
}

.titleNav span {

    font-size: 22pt;
}

.titleNav {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}


.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.navLink {
    padding: 0px 15px;
    list-style: none;
}

.navLink a {
    display: flex;
    text-decoration: none;
    font-size: 11.5pt;
    font-weight: 600;
    color: rgb(51, 65, 85);
}

#nameNav {
    color: #118a8a;
}

.btnsNav i {
    padding-left: 15px;

}


.btnnn {
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(0, 193, 106);
    font-size: 11.3pt;

    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.021);
    cursor: pointer;
    transition: background-color .2s ease;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btnnnP {
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    font-size: 11.3pt;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.021);
    cursor: pointer;
    transition: background-color .2s ease;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.btnnn i {
    margin-right: 6px;
    color: #fff;
    font-size: 10px;
}

.btnnnP i {
    margin-right: 5px;
    color: #ffffff;
    font-size: 10px;



}

.btnLogin {
    height: 41px;
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: 600;
    color: #fff;
    background-color: #00c16a;
    font-size: 11.3pt;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.021);
    cursor: pointer;
    transition: background-color .2s ease;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
}

.btnLogin:hover {
    background-color: #046338;
    color: white;
}

#btnRegister {
    background: none;
    color: black;
}

#btnRegister:hover {
    background-color: #046338;
    color: white;
}

.btnsNav {
    display: flex;
    gap: 10px;
    flex-direction: row;
}



.btnnn:hover {
    background-color: #047240;
    color: white;

}


.text i {
    font-size: 2.6rem;
    padding: 0px 0px 0px 4px;

}


#navM {
    display: none;
}

#btnMobile {
    display: none;
}

.home {
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
    background-repeat: no-repeat;
    background-image: url(./img/backgroundHome.png);
    background-size: cover;
    background-blend-mode: multiply;
    /* Mistura a cor com a imagem */
    background-color: rgba(0, 0, 0, 0.5);
    /* Ajuste a transparência aqui */
}



.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleQuemSomos {
    color: black;
}

.title {
    font-weight: 600;
    font-size: 55pt;
    color: #ffffff;
    width: 100%;
    text-align: center;

}

.titleVerde {
    color: rgb(0, 193, 106);

}

.imgs img {
    width: 100%;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.imgs {
    margin-left: 100px;

}

.descricao {
    color: #ffffff;
    font-size: 11.6pt;
    text-align: justify;
    margin-top: 3%;
}

#descQuemSomos {
    color: black;
}

.sobre {
    margin-bottom: 10%;


}

.mainSobre {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 23px 10%;
    visibility: visible;

}


.btnsHome button {
    margin: 0px 15px 0px 0px;
}

.btnsHome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.textoSobre {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: column;
    max-width: 40rem;
    gap: 2rem;
    color: #049494;
}



.formContato {
    display: flex;
    padding: 60px 100px;
    justify-content: space-between;
    background-color: white;
}

.left {
    flex: 1;
    padding-right: 40px;

}

.left h1 {
    font-size: 62px;
    color: #000;
    font-weight: 600;

}

.left h4 {
    font-size: 18px;
    color: #00b894;

}

.left p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.left a {
    color: #00b894;
    text-decoration: none;

}

.form {
    width: 50%;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10PX;
    height: 552px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form form {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 8px;
}

.form .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form .form-group2 {
    display: flex;
    gap: 2rem;
    margin-bottom: 18px;


}

.form-group2 select {
    width: 48%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #747474;
}

.form .form-group input,
.form .form-group textarea {
    width: 48%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

.form .form-group textarea {
    width: 100%;
    resize: none;

}

.form button {
    width: 100%;
    padding: 15px;
    background-color: rgb(0, 193, 106);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

}

.emailTel {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.left p {
    text-align: start;
    margin-top: 1rem;
}

#email {
    width: 100%;

}


/* projetto */


#valores {
    padding: 23px 10%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background: #98C185;
}

.headerProjeto {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 20rem;

}

.cardsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.08);
}

.card-body {
    flex: 1 1 auto;
    padding: 10px;
    color: black;
}

.cardHeader {
    display: flex;
    align-items: center;
    padding: 23px;
    gap: 16px;
    justify-content: flex-start;
}

.card-img-top {
    width: 100px;
}



.imgCard img {
    width: 10px;
    height: 10px;
}

/* serviços */

#cardServico {
    box-shadow: none;
}

#Servicos {
    padding: 23px 10%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.headerProjeto {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 20rem;

}

.servicosContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    box-shadow: 0px 0px 12px -6px black;
    border-radius: 15px;
}

.descServico {
    color: #262626;
    margin-bottom: 5%;
    font-size: 10pt;

}

.titleServico {
    font-size: 45pt;
    color: black;
}

.card-img-servico {
    height: 132px;
    width: 132px;
}

.cardHeaderServico {
    display: flex;
    align-items: center;
    padding: 23px;
    gap: 16px;
    justify-content: center;
}


@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 1120px) {

    .navLinks,
    .navBar .btnnn {
        display: none;
    }

    #btnMobile {
        display: block;
        background-color: transparent;
        color: #049494;
        border: none;
        font-size: 20pt;

    }


    #navM.active {
        padding-top: 100px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(20px);
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.021);
        position: fixed;
        top: 0;
        z-index: 998;
    }

    .navLinksMobile {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        text-align: center;
        padding-top: 5%;
    }

    .navLink {
        padding: 10px 0px;
        text-align: center;

    }

    .home {
        padding: 150px 8%;
        flex-direction: column;
        text-align: center;

    }


    .title {
        font-weight: 600;
        font-size: 20pt;
        color: #05afaf;
    }

    .mainSobre {
        padding: 150px 8%;
        flex-direction: column-reverse;
        text-align: center;
        margin: 0;
        display: flex;
        width: 100%;
    }

    .btnsHome {
        margin-top: 3px;
        align-items: center;
        justify-content: center;

    }

    .textoSobre {
        margin: 0;
        padding: 0;
    }

    .text i {
        font-size: 1.2rem;
    }

    .btnsSocial {
        margin-bottom: 4%;
    }

    .imgs {
        margin: 0;

    }




}

.home {
    visibility: visible;
}