@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    animation: light-to-dark 0.3s ease-in-out;
    background-repeat: no-repeat;
  

}



.mode#corpo{
    background-color: #01050c;
    animation: dark-to-light 0.3s ease-in-out;
} 

#darkmode{
    font-size: 15pt;
    color: #dab714;
    cursor: pointer;
}

.mode#corpo nav{
    background-color: 
    #00010279;
    box-shadow: none;
}
.mode#corpo nav a{
    color:#fff

}

.mode#corpo .btnnn{
    background-color: rgb(0, 193, 106);
    color: #fff;

}

.mode#corpo .btnnnP{
    color: #fff;
    border: 1px solid #fff;

}

.mode#corpo i{
    color: #fff;

}

.mode#corpo .btnsSocial a{
    background-color: #083131;
}

.mode#corpo .title{
    color: #fff;
}
.mode#corpo .descricao{
    color: #fff;
}


nav{
    width: 100%;
    background-color: #fff;
    padding: 23px 10%;
    
    box-shadow: 5px 5px 5px 1px #0e0e0e20;
}

span{
    font-weight: 600;
    color: #118a8a;

}

section {
    margin-top: -1px; 
    padding-top: 100px;     
}

#logo{
    height: 35px;
    width: 35px;
}

.titleNav span{

    font-size: 22pt;
}

.titleNav{
    display: flex;
    align-items: center;
    justify-content: center;
}


.navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}


.navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.navLink{
    padding: 0px 15px;
    list-style: none;
}

.navLink a{
    display: flex;
    text-decoration: none;
    font-size: 11.5pt;
    font-weight: 600;
    color:  rgb(51, 65, 85);
}
#nameNav{
    color: #118a8a;
}

.btnsNav i{
    padding-left: 15px;    

}


.btnnn{
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(0, 193, 106);
    font-size: 11.3pt;
   
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.021) ;
    cursor: pointer;
    transition: background-color  .2s ease;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btnnnP{
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: 600;
    color:  rgb(51, 65, 85);
    background-color: 	transparent;
    border: 1px solid  rgb(51, 65, 85);
    font-size: 11.3pt;

    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.021) ;
    cursor: pointer;
    transition: background-color  .2s ease;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.btnnn i{
    margin-right: 6px;
    color: #fff;
    font-size: 10px;
}

.btnnnP i{
    margin-right: 5px;
    color: rgb(51, 65, 85);
    font-size: 10px;



}




.btnnn:hover{
    background-color: #094141;
    color:#049494 ;

}


.text i{
    font-size: 2.6rem;
    padding: 0px 0px 0px 4px ;

}


#navM{
    display: none;
}

#btnMobile{
    display: none;
}

.home{
    max-width: 100%;
     height: 100vh;
    min-height: calc(100vh - 94px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3cpath d='M995.21-93.71C873.71-79.35 803.84 190.32 598.08 192.23 392.31 194.14 399.51 122.23 200.94 122.23 2.38 122.23-95.38 191.96-196.19 192.23' stroke='rgba(51%2c 194%2c 75%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1051.48-97.61C905.26-94.23 797.01 101.55 503.99 108.63 210.96 115.71 103.29 317.73-43.51 321.43' stroke='rgba(51%2c 194%2c 75%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M711.63-19.04C550.44 19.65 486.45 450.86 245.8 452.83 5.15 454.8-90.34 229.35-220.03 223.23' stroke='rgba(51%2c 194%2c 75%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M981.96-62.87C883.72-58.13 910.1 106.65 629.64 112.22 349.18 117.79 108.22 311.85-75 313.82' stroke='rgba(51%2c 194%2c 75%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1126.85-7.59C953.68 3.19 851.88 314.38 518.68 326.79 185.47 339.2 71.55 536.55-89.5 539.59' stroke='rgba(51%2c 194%2c 75%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  

   
}

.text{
    width: 100%;
    max-width: 39rem;
    
    
    
    
}

.title{
    font-weight: 600;
    font-size: 55pt;
    color: rgb(15, 23, 42);
    width: 100%;
    margin-top: 15%;
    text-align: center;
    
}

.titleVerde{
    color:rgb(0, 193, 106);

}

.imgs img{
    width: 100%;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.imgs{
    margin-left: 100px;

}

.descricao{
    color: rgb(71, 85, 105);
    font-size: 11.6pt;
    text-align: justify;
    margin-top: 3%;

      

}
.sobre{
    margin-bottom: 10%;
    

}

.mainSobre{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 23px 10%;
    visibility: hidden;
    
}

.textoSobre{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left:  5%; ;
    flex-direction:column ;
    max-width: 40rem;
    gap: 2rem;
    color: #049494;
    
}

.imgSobre img{
    width: 100%;
    max-width :800px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}

.imgSobre{
    border-radius: 7px;
    width: 50%;
    height: 90%;
    

}

.btnsHome button{
    margin:  0px 15px 0px 0px ; 
}

.btnsHome{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.btnsSocial{
    display: flex;
    gap: 42px;
    margin-bottom: 10px;
   width: 100%;
   align-items: center;
   justify-content: center;
    
}

.btnsSocial a:hover {
    background-color: #094141;
    color:#049494 ;
    
}



.btnsSocial a{
    color: #c2ebf5;
    text-decoration: none;
    font-size: 18pt;
    min-width: 40px;
    height: 40px;
    background-color: #077e7e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.021);
    transition: background-color  .2s ease;
}

#Projetos{
    padding: 23px 10%;
   background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 2%2c 5%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c203 C 57.6%2c164.6 172.8%2c11.4 288%2c11 C 403.2%2c10.6 460.8%2c203.2 576%2c201 C 691.2%2c198.8 748.8%2c5.2 864%2c0 C 979.2%2c-5.2 1036.8%2c173.6 1152%2c175 C 1267.2%2c176.4 1382.4%2c40.6 1440%2c7L1440 560L0 560z' fill='rgba(3%2c 14%2c 26%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c337 C 96%2c373.4 288%2c514.4 480%2c519 C 672%2c523.6 768%2c373.4 960%2c360 C 1152%2c346.6 1344%2c433.6 1440%2c452L1440 560L0 560z' fill='rgba(14%2c 28%2c 43%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.headerProjeto{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 20rem;

}

.cardsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.descProjeto{
    color: #ccccccad;
    margin-bottom: 5%;
    font-size: 10pt;

}

.btnCard{
    padding: 7px 14px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(0, 193, 106);
    font-size: 11.3pt;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.021) ;
    cursor: pointer;
    transition: background-color  .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.card{
    transition: transform 0.2s ease-in-out;
}

.card:hover{  
  transform: scale(1.08);  
}





.imgCard img{
    width:100%;
    height: 100%;
}

.titleProjeto{
    font-size: 45pt;
    color: #fff;
}




.parceirosContainer{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;


}
/* CSS */
.parceiros {
    display: flex;
    justify-content: space-between; /* Distribui as logos uniformemente */
    align-items: center; /* Alinha as logos ao centro verticalmente */
   /* Espaçamento entre as logos */
    margin-bottom: 50px;
    width: 50%;
  }
  
  .parceiro img {
    max-width: 160px; /* Define a largura máxima */
    max-height: 100px; /* Define a altura máxima */
    object-fit: contain; /* Garante que a logo se ajuste dentro dos limites sem distorção */
  }

  .titleParceiros{
    text-align: center;
   font-size: 2pt;
   color: #969696;
   margin-bottom: 10px;
  }

  .titleParceiros h1{
    font-size: 17pt;

  }
  

#videoPitch{
    padding: 90px 10%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1105%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 2%2c 5%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c256 C 28.8%2c215 86.4%2c52 144%2c51 C 201.6%2c50 230.4%2c234.6 288%2c251 C 345.6%2c267.4 374.4%2c133.8 432%2c133 C 489.6%2c132.2 518.4%2c260.8 576%2c247 C 633.6%2c233.2 662.4%2c58.2 720%2c64 C 777.6%2c69.8 806.4%2c265.4 864%2c276 C 921.6%2c286.6 950.4%2c137.6 1008%2c117 C 1065.6%2c96.4 1094.4%2c193.8 1152%2c173 C 1209.6%2c152.2 1238.4%2c8.4 1296%2c13 C 1353.6%2c17.6 1411.2%2c159.4 1440%2c196L1440 560L0 560z' fill='rgba(3%2c 14%2c 26%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c502 C 32%2c471 96%2c340 160%2c347 C 224%2c354 256%2c546.8 320%2c537 C 384%2c527.2 416%2c320 480%2c298 C 544%2c276 576%2c406 640%2c427 C 704%2c448 736%2c383.4 800%2c403 C 864%2c422.6 896%2c532.8 960%2c525 C 1024%2c517.2 1056%2c377.6 1120%2c364 C 1184%2c350.4 1216%2c448.6 1280%2c457 C 1344%2c465.4 1408%2c416.2 1440%2c406L1440 560L0 560z' fill='rgba(14%2c 28%2c 43%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1105'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.titleVideo{
    font-size: 35pt;
    color: #fff;

}

.descVideo{
    font-size: 11pt;
    color: #ccccccad;
    width: 35rem;
    text-align: justify;
}

.formContato{
    display: flex;
    padding: 60px 100px;
    justify-content: space-between;
    background-color: white;
}

.left{
    flex: 1;
    padding-right: 40px;

}

.left h1{
    font-size:62px;
    color: #000;
    font-weight: 600;
    
}

.left h4{
    font-size: 18px;
    color: #00b894;

}

.left p{
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.left a{
    color: #00b894;
    text-decoration: none;

}

.form{
    flex: 1;    
}

.form form{
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form .form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form .form-group2{
    display: flex;
    gap: 2rem;
    margin-bottom: 18px;
  
  
}

.form-group2 select{
    width: 48%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #747474;
}

.form .form-group input,
.form .form-group textarea{
    width: 48%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

.form .form-group textarea{
    width: 100%;
    resize: none;

}

.form button{
    width: 100%;
    padding: 15px;
    background-color: rgb(0, 193, 106);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

}

.emailTel{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.left p{
    text-align: start;
    margin-top: 1rem;
}

#email{
    width: 100%;

}


@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (max-width: 1120px){
    .navLinks,
    .navBar .btnnn{
        display: none;
    }

    #btnMobile{
        display: block;
        background-color: transparent;
        color:#049494 ;
        border: none;
        font-size: 20pt;
        
    }


    #navM.active{
        padding-top: 100px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(20px);
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.021);
        position: fixed;
        top: 0;
        z-index: 998;
    }

    .navLinksMobile{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        text-align: center;
        padding-top: 5%;
    }

    .navLink{
        padding: 10px 0px;
        text-align: center;

    }

    .home{
        padding: 150px 8%;
        flex-direction:column ;
        text-align: center;

    }


    .title{
        font-weight: 600;
        font-size: 20pt;
        color:#05afaf ;
    }

    .mainSobre{
        padding: 150px 8%;
        flex-direction: column-reverse;
        text-align: center;
        margin: 0;
        display: flex;
        width: 100%;
    }

    .btnsHome{
        margin-top: 3px;
        align-items: center;
        justify-content: center;

    }

    .textoSobre{
        margin: 0;
        padding: 0;
    }

    .text i{
        font-size: 1.2rem;
    }

    .btnsSocial{
        margin-bottom: 4%;
    }

    .imgs{
        margin: 0;

    }

    

    
}

.home{
    visibility: hidden;
}


@keyframes dark-to-light{
    0%{

        background-color: #f8fafc;
    }

    100%{

        background-color:#312d37;
    }

}

@keyframes light-to-dark{
    100%{

        background-color: #f8fafc;
    }

    0%{

        background-color:#312d37;
    }


}















    





