* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.navbar {
    height: 100vh;
    width: 300px;
    background: #7bb062;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px 1px #0000007d;
    padding: 30px 0;
}

.container_btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex-grow: 1;
    margin: 20px 0;
}

.btnNavbar {
    width: 80%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 15px;
    border: solid 2px black;
    border-radius: 17px;
    cursor: pointer;
}

.btnNavbar img {
    height: 25px;
    width: auto;
}

.welcome_navbar {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    width: 80%;
    margin-top: 20px;
}

.navbar span {
    color: white;
}

.painel {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.apartamentosRisco {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 20px;
}

.apartamentosRisco p {
    font-size: 18px;
    font-weight: 500;
}

.container-alertas {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    margin-bottom: 20px;
    padding: 0 20px;
    overflow-x: auto;
}

.cartao-alerta {
    display: flex;
    min-width: 280px;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    position: relative;
    height: 80px;
}

.cartao-alerta i.fas.fa-building {
    position: absolute;
    font-size: 24px;
    margin-right: 200px;
}

.cartao-alerta i.fas.fa-exclamation-triangle,
.cartao-alerta i.fas.fa-exclamation-circle {
    position: absolute;
    right: 215px;
    top: 35px;
    font-size: 18px;
}

.textCartao {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.textCartao p:first-child {
    font-weight: bold;
}

.alerta-atencao {
    border: solid 2px #f39c12;
}

.alerta-critico {
    border: solid 2px #e74c3c;
}

.areaDados {
    display: flex;
    gap: 20px;
    flex: 1;
}

.container-predios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 70%;
}

.predio {
    background-color: #f5f5f5;
    flex-direction: column;
    border-radius: 8px;
    height: 70px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: transform 0.2s;
    position: relative;
}

.container-predios .predio p{
    position: relative;
    top: 13px;
}

.container-predios .predio img{
    width: 70px;
    height: 70px;
    top: 20px;
}

.predio:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.predio.alerta-critico {
    border: solid 2px #e74c3c;
}

.predio.alerta-atencao {
    border: solid 2px #f1c40f;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 25%;
}

.divResumoAlertas {
    width: 100%;
}

.resumo-alertas {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    text-align: center;
}

.resumo-alertas p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.resumo-alertas h2 {
    font-size: 38px;
    text-align: center;
}

.metricas {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.legenda-alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 27px;
    font-weight: bold;
}

.legenda-alerta i {
    font-size: 18px;
}

.fas.fa-exclamation-triangle {
    color: #f39c12;
}

.fas.fa-exclamation-circle {
    color: #e74c3c;
}

.fas.fa-radiation {
    color: #f1c40f;
}

.fas.fa-fire {
    color: #e74c3c;
}