@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

/* nav containers */
.navbar {
    height: 100vh;
    width: 299px;
    background: #7bb062;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 10px 1px #0000007d;
}

.container_btn {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* buttons */

.btnNavbar {
    width: 80%;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 25px;
}

/* welcome */

.welcome_navbar {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    width: 80%;
}

.navbar span {
    color: white;
}

.container{
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px 1px #0000007d;
}

.sindico-criar{
    width: 84%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

#title-sindico {
    font-size: 40px;
    font-weight: 900;
}

.sindico-criar img{
    width: 39px;
    color: white;
}

.sindico-criar button {
    font-size: 23px;
}

#button-criar{
    width: 130px;
    height: 58px;
    color: white;
    background: #7bb062;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #7bb062;
    border-radius: 30px;
}

.tabela{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

thead th{
    font-weight: 900;
    font-size: 28px;
    color: #7bb062;
}

.tabela-fisica {
    width: 95%;
}

.tabela img {
    width: 50px;
}

th{
    align-items: center;
    justify-content: center;
    font-size: larger;
    border-bottom: 2px solid rgba(0, 0, 0, 0.473);
}

td{
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.473);
    font-size: 19px;
}