@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

/* nav containers */
.navbar {
    height: 100vh;
    width: 299px;
    background: #7bb062;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 10px 1px #0000007d;
}

.container_btn {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* buttons */

.btnNavbar {
    width: 80%;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 25px;
}

/* welcome */

.welcome_navbar {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    width: 80%;
}

.navbar span {
    color: white;
}

.container{
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px 1px #0000007d;
}

.sindico-criar{
    width: 84%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

#title-sindico {
    font-size: 40px;
    font-weight: 900;
}

.sindico-criar img{
    width: 39px;
    color: white;
}

.sindico-criar button {
    font-size: 23px;
}

#button-criar{
    width: 130px;
    height: 58px;
    color: white;
    background: #7bb062;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #7bb062;
    border-radius: 30px;
}


.fundo-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.fundo-modal.ativo {
    opacity: 1;
    visibility: visible;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    max-width: 450px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 20px;
}

.cabecalho-modal {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.6);
}

.titulo-modal {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.botao-fechar {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.grupo-form {
    margin-bottom: 16px;
}

label {
    display: flex;
    margin-bottom: 6px;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.8);
}

input {
    position: relative;
    left: 30px;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    border: 2px solid #7bb062;
    border-radius: 10px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #10b981;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.botoes {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 24px;
}

.botao-cancelar {
    background-color: #7bb062;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-cancelar:hover {
    background-color: #10b981;
}

.botao-salvar {
    background-color: #7bb062;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-salvar:hover {
    background-color: #10b981;
}

.mensagem-sucesso {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #10b981;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.mensagem-sucesso.ativo {
    opacity: 1;
    visibility: visible;
}


.tabela{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tabela-fisica {
    width: 95%;
    border-collapse: collapse;
}

.tabela img {
    width: 50px;
}

th{
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 900;
    font-size: 28px;
    color: #7bb062;
    padding-bottom: 22px;
}

td{
    border-top: 2px solid rgba(0, 0, 0, 0.473);
    font-size: 19px;
    text-align: center;
}