.container_dash {
    height: 100%;
    width: 84%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.rowTitle {
    width: 98%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
}


.header {
    height: 20%;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.compenentesDiv {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    overflow: hidden;
}

.container_predios {
    background-color: white;
    width: 65%;
    min-height: 90%;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    justify-content: flex-start;
    padding: 5px;
    box-shadow: #00000024 0px 5px 10px 1px;
}


.cabecalho-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f6f8;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.item-cabecalho {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: #00000024 0px 5px 10px 1px;
    text-align: center;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
}

.item-cabecalho:hover {
    transform: scale(1.05);
}

.valor-principal {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.descricao {
    color: #777;
    font-size: 0.8em;
}

.icone-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5px;
    font-size: 20px;
    flex-direction: column;
    height: 100px;
    gap: 5px;
}

.rowTitleGrafico {
    width: 96%;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    color: black;
    font-size: 12px;

}