.body {
    height: 100vh;
    width: 100vw;
}

.painel {
    background-size: 95%;
    background-color: #F6F9FC;
    height: 100%;
    width: 82%;
    padding: 24px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

.container_superior {
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.container_superior .div_kpi {
    width: 25%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: row;
}

.div_kpi .div_icon {
    width: 30%;
    height: 100%;
    background-size: contain;
    align-content: center;
}

.div_icon img {
    width: 50px;
    margin-left: 20px;
}

.div_kpi .div_informacao {
    width: 70%;
    height: 52%;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.div_informacao .span_titulo {
    width: 100%;
    height: 52%;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: #666666;
}

.div_informacao .span_resposta {
    width: 100%;
    height: 52%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.container_inferior {
    width: 100%;
    height: 77%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.container_inferior .div_grafico {
    width: 66%;
    height: 100%;
}

.div_grafico .div_nivel {
    width: 93%;
    height: 88%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.06);
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.div_nivel .span_titulo {
    width: 100%;
    height: 52%;
    text-align: justify;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.div_nivel .span_identificacao {
    width: 100%;
    height: 52%;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    color: #666666;
}

#canvas_grafico {
    width: 100%;
    margin-top: 15px;
}

.container_inferior .div_sensores {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.div_sensores .div_alerta {
    width: 100%;
    height: 16%;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
}

.div_alerta .div_status_alerta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.div_img_alerta img {
    width: 50px;
    margin: 10px 20px 10px 20px;
}

.div_status_alerta .div_sobre_alerta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.div_sobre_alerta .span_titulo {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.div_sobre_alerta .span_subtitulo {
    font-size: 15px;
    font-weight: 600;
    color: #666666;
}

.div_sensores .div_medicao {
    width: 85%;
    height: 66.5%;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.06);
}

.div_medicao .div_titulo_medicao {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.div_titulo_medicao .span_titulo {
    height: 35%;
    margin-left: 8px;
    font-size: 23px;
    font-weight: 700;
    color: #000000;
}

.div_titulo_medicao .span_subtitulo {
    height: 35%;
    margin-left: 8px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

.div_sensores_medicao {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.div_opcao_sensor {
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Alinha verticalmente ao centro */
    justify-content: space-between;
    /* Espaço entre os itens */
    gap: 16px;
    font-size: 15px;
    color: #000000;
}

.div_opcao_sensor .btn_sensor {
    width: 35%;
    height: 65%;
    background-color: rgb(0, 110, 255);
    border-radius: 7px;
    border-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: #ffffff;
}

.btn_sensor:hover {
    background: #214291;
}

.btn_sensor.selecionado {
    font-weight: bold;
    border: 2px solid #2563eb;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}

.span_medicao {
    font-weight: bold;
    color: #333;
}