@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container_dash {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.header {
    height: 20%;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.compenentesDiv {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container_predios {
    background-color: purple;
    width: 65%;
    height: 95%;
}

.container_notificacoes {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 30%;
    max-height: 90%;
    height: 90%;
    border-radius: 5px;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #0e0e0e20;
    overflow-y: scroll;
}

#alertas_recentes{
    width: 89%;
    justify-content: start;
    font-size: 19px;
    font-weight: bolder;
    margin: 15px 0px;
}

.div_notificacoes_emergencia {
    width: 84%;
    height: 75px;
    border-left: 4px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: gray;
    background-color: rgba(0, 0, 0, 0.167);
    margin-bottom: 25px;
}

.div_notificacoes_critico {
    width: 84%;
    height: 75px;
    border-left: 4px solid rgb(230, 1, 1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: gray;
    background-color: rgba(255, 0, 0, 0.179);
    margin-bottom: 25px;
}

.div_notificacoes_alerta {
    width: 84%;
    height: 75px;
    border-left: 4px solid rgb(230, 138, 1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: gray;
    background-color: rgba(255, 140, 0, 0.210);
    margin-bottom: 25px;
}

.informacao_notificacao{
display: flex;
  flex-direction: column; 
  gap: 6px;
  justify-content: center;
}

.informacao_emergencia{
    color: rgb(0, 0, 0);
}

.informacao_critica{
    color: rgb(191, 4, 4);
}

.informacao_alerta{
    color: rgb(157, 130, 9);
}

.btn_verificar{
    background-color: rgb(51, 51, 255);
    color: white;
    width: 64px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}