* {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

.main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #f6f9fc;
    position: relative;
    justify-content: space-between;
}

/* nav containers */
.navbar {
    height: 100vh;
    width: 300px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    color: #00c292;
    position: relative;
    box-shadow: #00000024 1px 0px 5px 2px;
}

/* msg */

.welcome_navbar {
    width: 90%;
    height: 65px;
    border-bottom: solid green 1px;
    display: flex;
    align-items: flex-start;
    font-size: 30px;
    white-space: normal;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin-top: 15px;
}


.welcome_navbar p {
    color: #00bb8d;
    font-size: 20px;
}

.welcome_navbar img {
    height: 100%;
    width: auto;
}

/* container */
.container_btn {
    width: 95%;
    height: 70%;
    gap: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
}

/* btns */

.btnNavbar {
    width: 95%;
    height: 45px;
    border-left: solid 3px green;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.btnNavbar:hover {
    background: green;
    color: white;
}

.select {
    background: green;
    color: white;
}

#logout {
    position: absolute;
    bottom: 30px;
    background: white;
    max-width: 90%;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

#logout:hover {
    transform: scale(1.01);
    background: green;
    color: white;
}